<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div style="text-align:center">
  <h1>
    Welcome to Meal Planner
  </h1>
</div>

<router-outlet></router-outlet>
